* {
    box-sizing: border-box;
}

.authContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    // background-color: #62B6CB;


    .authLogo {
        height: 100vh;
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #62B6CB;
        // opacity: 65%;
    }

    .formContainer {
        // background-color: #1B4965;
        color: black;
        width: 30rem;
        height: 100vh;
        box-shadow: 0 1px 8px black;
        padding: 1rem 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        


        a {
            text-decoration: none;

            &:hover {
                background-color: transparent;
                border: none;
            }
        }

        a strong {
            // color: #FFE74C;
            color: black;
        }

        hr {
            width: 100%;
        }
        form {
            display: flex;
            flex-direction: column;

            .formField {
                margin-bottom: 0.5rem;
                

                input {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    color: black;
                    border-radius: 0.5rem;
                    border: 0.05rem solid black;
                    font-size: 1rem;



                    &::placeholder {
                        text-align: center;
                    }
                }

                label {
                    font-weight: normal;
                    font-size: 1.3rem;
                }

                &.rememberUserField {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    input {
                        width: 5%;
                        height: 1.2rem;
                        accent-color: #FFE74C;
                        cursor: pointer;
                    }

                    label {

                        font-variant: normal;
                        font-size: 1rem;
                        cursor: pointer;
                    }
                }
            }

            .loginButton {
                background-color: #069e2f;
                border: 1px solid white;
                color: white;
                padding: 0.5rem 0.5rem;
                width: 11rem;
                align-self: center;
                cursor: pointer;
                margin-bottom: 1rem;
                border-radius: 0.5rem;
                font-size: 1.3rem;
                font-weight: bold;

                &:hover {
                    background-color: #FFE74C;
                    color: black;
                    font-weight: bold;
                    border: 1px solid;
                }

            }
        }

        .registerButton {
            background-color: #62B6CB;
            border: 1px solid white;
            padding: 0.3rem 2rem;
            // display: block;
            margin: 0 auto;
            border-radius: 0.5rem;
            width: 60%;
            margin-bottom: 1rem;
            cursor: pointer;
            font-size: large;

            &:hover {
                /* opacity: 0.8; */
                background-color: #FFE74C;
            }
        }

        .loginError {
            color: red;
            font-style: italic;
            font-weight: 600;
            // display: none;
        }
    }
}


@media (max-width:1280px) {
    .authContainer {
        .authLogo {
            width: 50vw;
            img {
                height: 25rem;
            }
        }

        .formContainer {
            width: 28rem;
            

            h2 {
                margin-top: 0;
            }

            form {
                .formField {
                    input {
                        font-size: 1rem;
                    }
                }

                .loginButton {
                    width: 7rem;
                    font-size: 1rem;
                }
            }

            .registerButton {
                font-size: medium;
            }
        }
    }
}

@media (max-width:900px) {
    .authContainer {
        flex-direction: column;
        .authLogo {
            height: 10vh;
            width: 100vw;
            img {
                height: 5rem;
            }
        }

        .formContainer {
            width: 100vw;
            // height: 22.5rem;
            height: 80vh;

            h2 {
                margin-top: 0;
            }

            form {
                .formField {
                    input {
                        width: 60%;
                    }
                }

                .registerButton {
                    width: 50%;
                }
            }

            
        }
    }
}